.forme {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}
.title {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.title a {
    font-size: 30px;
    font-family: cursive;
}
.title:first-child {
    margin-top: 100px;
}
p {
    width: 100%;

}
.for-pokemon {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    font-size: 24px;
    font-weight: bold;

    transition: opacity 3s;
}
.job {
    /*text-align: center;*/
    width: 100%;
    margin-top: 50px;
}
.job:first-child {
    margin-top: 100px;
}
.job p {
    text-indent: 72px;
}
.job a:hover {
    color: #065999;
    cursor: pointer;
}